<section class="prose">
  <p>
    Hello! I'm <strong>Fahmi Lukistriya</strong>, a Web Developer from Indonesia with a year of experience building web apps, and over two years working with Internet of Things (IoT) systems. I’m currently deepening my understanding of <strong>web fundamentals</strong>, <strong>security best practices</strong>, and exploring the exciting world of web3 using <strong>Solana</strong> and <strong>Move</strong>.
  </p>
  <p>
    I’ve worked on projects involving performance optimization, internationalization, and legacy code refactoring in production-scale apps. </p>
  <h1 class="mt-8 mb-3 text-lg font-bold">What I'm focusing on now</h1>
  <ul>
    <li>
      <strong>Web fundamentals: </strong>Digging into HTML, CSS, JavaScript, accessibility, and web standards to strengthen my frontend foundation.
    </li>
    <li>
      <strong>Security: </strong>Learning about common vulnerabilities, secure authentication flows, and how to keep both frontend and backend systems safe.
    </li>
    <li>
      <strong>Web3: </strong>Exploring how to build decentralized apps using Solana and Move language and its developer ecosystem.
    </li>
    <li>
      <strong>Backend & infrastructure: </strong>Improving my skills in databases, REST APIs, and understanding how to deploy scalable apps.
    </li>
    <li>
      <strong>Open to collaboration: </strong>Feel free to reach out if you’re working on something exciting—I’m always eager to learn and contribute!
    </li>
  </ul>
</section>
